@import "../../assets/scss/variables";
@import "../../assets/scss/mixins/responsive";

.search-result {
  color: #FFF;
  @include min-tablet-size {
    color: #555;
  }
}

// Sidebar

.sidebar__filters {
  background: white;
  padding: 30px;
  border-radius: 5px;
  color: #555;
  margin-bottom: 30px;
}

.sidebar__title {
  font-size: 1.2em;
  font-weight: 300;
}

.filter__title {
  font-size: .8em;
  color: #B5B5B5;
  margin-bottom: 15px;
}

.filter {
  border-bottom: 1px solid #D8D8D8;
  padding-bottom: 20px;
  margin-bottom: 15px;
  &:last-child {
    border: none;
    margin-bottom: 0;
  }
}

.filter__stars {
  .start {
    width: 25px;
  }
}

.range__slider {
  .noUi-target {
    background: rgba(0, 0, 0, 0.1);
    border: none;
    height: 5px;
    border-radius: 10px;
    box-shadow: none;
  }
  .noUi-connect {
    background: $color_orange;
    border: none;
    box-shadow: none;
  }
  .noUi-handle {
    background: white;
    border: 3px solid $color_orange;
    border-radius: 40px;
    box-shadow: none;
    height: 20px;
    width: 20px;
    &:after, &:before {
      display: none;
    }

  }
}

.range {
  color: $color_orange;
  font-weight: 700;
  &:before {
    display: block;
    font-size: .8em;
    color: #B5B5B5;
  }
}

.range__from {
  &:before {
    content: 'Min';
  }
}

.range__to {
  float: right;
  &:before {
    content: 'Max';
  }
}


//Lista de hoteis

.search-result__title {
  font-size: 1.2em;
  text-align: center;
  margin: 20px 0;
  font-weight: 500;
  font-family: $primary_font;
  letter-spacing: 2px;

}

.filter__stars {

}

.result-list__item {
  color: #B5B5B5;
  line-height: 1.6em;
}

.card-hotel {
  width: 100%;
  background: #FFF;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.hotel-detail__pic {
  width: 100%;
  max-height: 280px;
}

.hotel-detail__title {
  color: $color_orange;
  font-family: $secondary_font;
  font-weight: 900;
  margin-bottom: 15px;
  font-size: 1.3em;
}

.hotel-detail__main {
  padding: 20px 15px;
}

.hotel-detail__stars {
  .star {
    width: 20px;
  }
}

.hotel-detail__actions {
  margin: 10px auto;
  .btn {
    display: inline-block;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.hotel-detail__prices {

}

.price {
  font-weight: 400;
  font-size: 1em;
}
.price__label {
  margin-bottom: 5px;
}
.price__value {
  font-weight: 700;
  font-size: 2em;
}

.price_period .price__value {
  color: $color_green;
}

.hotel-price-history .price__value {
  color: $color_orange;
}
