.search-result__title {
  font-size: 1.2em;
  text-align: center;
  margin: 20px 0;
  font-weight: 500;
}

.filter__stars {
  .star {
    width: 30px;
    margin-left: 5px;
    margin-bottom: 15px;
  }
}