@import "../../assets/scss/variables";
@import "../../assets/scss/mixins/responsive";

.search-result {
  color: #FFF;
  @include min-tablet-size {
    color: #555;
  }
}

// Sidebar

.sidebar__filters {
  background: white;
  padding: 30px;
  border-radius: 5px;
  color: #555;
  margin-bottom: 30px;
}

.sidebar__title {
  font-size: 1.2em;
  font-weight: 300;
}

.filter__title {
  font-size: .8em;
  color: #B5B5B5;
  margin-bottom: 15px;
}

.filter {
  border-bottom: 1px solid #D8D8D8;
  padding-bottom: 20px;
  margin-bottom: 15px;
  &:last-child {
    border: none;
    margin-bottom: 0;
  }
}

.filter__stars {
  .start {
    width: 25px;
  }
}

.range__slider {
  .noUi-target {
    background: rgba(0, 0, 0, 0.1);
    border: none;
    height: 5px;
    border-radius: 10px;
    box-shadow: none;
  }
  .noUi-connect {
    background: $color_orange;
    border: none;
    box-shadow: none;
  }
  .noUi-handle {
    background: white;
    border: 3px solid $color_orange;
    border-radius: 40px;
    box-shadow: none;
    height: 20px;
    width: 20px;
    &:after, &:before {
      display: none;
    }

  }
}

.range {
  color: $color_orange;
  font-weight: 700;
  width: 50%;
  display: inline-block;
  &:before {
    display: block;
    font-size: .8em;
    color: #B5B5B5;
  }
}

.range__from {
  &:before {
    content: 'Min';
  }
}

.range__to {
  text-align: right;
  &:before {
    content: 'Max';
  }
}


//Lista de hoteis

.search-result__title {
  font-size: 1.2em;
  text-align: center;
  margin: 20px 0;
  font-weight: 500;
  font-family: $primary_font;
  letter-spacing: 2px;
  @include min-desktop-size {
    margin-bottom: 50px;
  }
}

.filter__stars {

}

.result-list__item {
  color: #B5B5B5;
  line-height: 1.6em;
  &:hover {
    color: #B5B5B5;
    @include min-desktop-size {
      .hotel-detail__pic {
        left: -30px;
      }
    }
  }
}

.card-hotel {
  width: 100%;
  background: #FFF;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 30px;
  padding-bottom: 20px;
  @include min-desktop-size {
    text-align: left;
    position: relative;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.17);
    border-radius: 5px;
    overflow: initial;
    height: 270px;
    width: 90%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.hotel-detail__pic {
  width: 100%;
  max-height: 280px;
  transition: all ease .2s;
  @include min-desktop-size {
    width: 200px;
    position: absolute;
    left: -40px;
    top: 30px;
    box-shadow: 0 0 20px 0 #949494;
    border-radius: 5px;
  }
}

.hotel-detail__title {
  color: $color_orange;
  font-family: $secondary_font;
  font-weight: 900;
  margin-bottom: 15px;
  font-size: 1.3em;
  @include min-desktop-size {
    font-size: .9em;
    text-transform: uppercase;
    line-height: 1.4em;
    margin-bottom: 5px;
  }
}

.hotel-detail__description {
  color: #B5B5B5;
  @include min-desktop-size {
    font-size: .72em;
    line-height: 1.5em;
  }
}

.hotel-detail__main {
  padding: 20px 15px;
  @include min-desktop-size {
    width: 70%;
    display: inline-block;
    padding-left: 200px;
    vertical-align: middle;
  }
}

.hotel-detail__prices {
  @include min-desktop-size {
    width: 28%;
    display: inline-block;
    vertical-align: middle;
    border-left: 2px solid #eaeaea;
  }
}

.hotel-detail__stars {
  @include min-desktop-size {
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .star {
    width: 20px;
    @include min-desktop-size {
      width: 15px;
    }
  }
}

.hotel-detail__actions {
  margin: 10px auto;
  .btn {
    display: inline-block;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.price {
  font-weight: 400;
  font-size: 1em;
  @include min-desktop-size {
    text-align: right;
    padding: 0 20px;
  }
}
.price__label {
  margin-bottom: 5px;
  @include min-desktop-size {
    font-size: .75em;
  }
}
.price__value {
  font-weight: 700;
  font-size: 2em;
  @include min-desktop-size {
    font-size: 1.8em;
  }
}

.price_period .price__value {
  color: $color_green;
}

.hotel-price-history .price__value {
  color: $color_orange;
}
