ngb-datepicker {
  color: #444;
  .bg-light {
    background-color: #FFF !important;
  }

  .custom-select {
    background: transparent;
    border: 0;
    outline: 0;
  }

  .ngb-dp-header {
    padding: 10px 0;
  }

  .ngb-dp-month .ngb-dp-week {
    padding: 4px 0;
    border-color: #E3E3E3;
    border-width: 2px;
  }

  .ngb-dp-weekdays .ngb-dp-weekday {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    color: #B5B5B5;
  }
  .ngb-dp-day, .ngb-dp-weekday {
    width: 35px !important;
    height: 35px !important;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;
  }
}
