<div app-loader *ngIf="showLoader"></div>
<header class="container-fluid">
  <div app-menu></div>
</header>
<section class="section-home">
  <div class="home-bg"></div>
  <div class="container-fluid">
    <div class="highlight">
      <img src="assets/images/crown.svg" alt="" class="highlight__crown">
      <h1 class="highlight__title">
        Welcome to <strong class="highlight__title-featured">Charlotte</strong> the queen city
      </h1>
    </div>
    <div app-search-hotel-form></div>
  </div>
</section>

<router-outlet></router-outlet>

<div app-footer></div>