@import "../assets/scss/variables";

.section-home {
  color: #FFF;
  height: 100%;
  padding-bottom: 40px;
}

.highlight {
  margin-top: 7%;
  display: inline-block;
  width: 100%;
  font-family: $primary_font;
  text-transform: uppercase;
}

.highlight__crown {
  width: 50px;
  margin: 0 auto;
  display: block;
}

.highlight__title {
  font-size: 1em;
  padding: 10px 20px;
  text-align: center;
}

.highlight__title-featured {
  font-size: 1.5em;
  display: table;
  padding: 2px 0;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  margin: 5px auto;
}
