<div class="home-bg"></div>
<header class="container-fluid">
  <app-menu></app-menu>
</header>
<section class="section-home">
  <div class="container-fluid">
    <div class="highlight">
      <span class="highlight__crown"></span>
      <h1 class="highlight__title">
        Welcome to <strong class="highlight__title-featured">Charlotte</strong> the queen city
      </h1>
    </div>
    <app-search-hotel-form></app-search-hotel-form>
  </div>
</section>

<router-outlet></router-outlet>

<app-footer></app-footer>