<div class="search-box">
  <h2 class="search-box__title">Select the dates to stay in Charlotte</h2>
  <div class="col-sm-12 col-md-6">
    <div class="search-box__dates">
      <div class="selected-date">
        <div class="label">CHECK-IN</div>
        <div class="value">{{ (fromDateFormatted | date:'MMM dd, yyyy') || 'Choose a date' }}</div>
      </div>
      <div class="selected-date">
        <div class="label">CHECK-OUT</div>
        <div class="value">{{ (toDateFormatted | date:'MMM dd, yyyy') || 'Choose a date' }}</div>
      </div>
    </div>
    <button class="btn btn-outline-primary" (click)="search()">Search hotels</button>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="search-box__pickdate">
      <ngb-datepicker #dp (select)="onDateSelection($event)" [outsideDays]="hidden" [navigation]="arrows" [displayMonths]="1" [dayTemplate]="t">
      </ngb-datepicker>
      
      <ng-template #t let-date="date" let-focused="focused">
        <span class="custom-day"
              [class.focused]="focused"
              [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              [class.first-range]="isFrom(date)"
              [class.last-range]="isTo(date)"
              [class.one-selected]="fromDate && !toDate">
          {{ date.day }}
        </span>
      </ng-template>
    </div>
  </div>
</div>