@import url('https://fonts.googleapis.com/css?family=Heebo|Montserrat');

@import "assets/scss/bootstrap/bootstrap";
@import "~nouislider/distribute/nouislider.min.css";
@import "assets/scss/variables";
@import "assets/scss/mixins/responsive";
@import "assets/scss/components/datepicker";

html {
	@include min-desktop-size {
		font-size: 1.2em;
	}
	@include max-tablet-size {
		font-size: 1.15em;
	}
	@include max-mobile-size {
		font-size: 1em;
	}
}
